a {
color: #000;
text-decoration: none;
}



a:hover {
color: #000;
text-decoration: none;
}

#login-button > a {
	color: #fff;
}

#search-by {
	margin-top: 3px;
}

.nav-search-bar {
	margin-top: 6px;
}

#nav-search-box {
	width: 600px;
}

.nav-search-button {
	margin-top: 13px;
}

.employee-sidebar {
	overflow: auto; /*scrollbar*/
	height: 600px;
	border: solid black #ccc;
}

.employee-sidebar-item {
	height: 60px;
	border: solid #ccc 1px;
	cursor: pointer;
	margin-top: 2px;
}

.employee-sidebar-formeremp {
	height: 60px;
	border: solid #ccc 1px;
	cursor: pointer;
	margin-top: 2px;
	background-color: #FF9F9F;
}

.formerEmpSHIT{
	margin-top: 18px;
	margin-left: 20px;
}

.employee-sidebar-item:hover {
	background-color: #f0f0f0;
}

.employee-sidebar-item-name {
	margin-top: 3px;
	margin-left: 15px;
	font-size: 17px;
}

.progress {
	width: 80%;
	margin-left: 15px;
}

.content-title {
	margin-top: 2px;
	border: solid 1px #ccc;
}

.add-employee {
	margin-top: 10px;
}

.row-label {
	font-weight: bold;


}

.glyphicon-ok-circle {
color: green;
}

.glyphicon-remove-circle {
color: #D9534F;
}

.content-title > .text-center {
font-size: 25px;
}


.edit-employee-button {
position: absolute;
right: 25px;
top: 17px;
}


.login-form {
	width: 400px;
}

.form-control {
	margin-top: 3px;
}

.addEmployeeForms {
	float: left;
}

.modal-title {
	text-align: center;
}

.search-icon {
	height: 34px;
	margin-top: -4px;
}

.chart-item {
	width: 400px;
}

.addButton {
	border-radius: 4px !important;
}

#importButton {
	margin-top: 20px;
	width: 200px;
	border-radius: 4px !important;
}

.form-dialog {
	width: 800px;
}

.btn-form {
	width: 65px;
}